@using Application.Dtos.ProductDetailDtos

<link rel="stylesheet" href="~/css/CartProductDetail.css" />

@{
	var item = ViewData["productDetail"] as IndexProductDetailDto
		?? new IndexProductDetailDto();
}

<div class="">
	<a class="product-card d-block" href="@Url.Action( "info", "productdetail", new {id = item.Id})">
		<div class="product-image">
			@if (item.Image != null)
			{
				var base64String = Convert.ToBase64String(item.Image.Data);
				var imageSrc = $"data:{item.Image.Type};base64,{base64String}";
				<img src="@imageSrc" alt="Image" style="width: auto; height: auto;" />
			}
		</div>
		<div class="product-info">
			@* <div class="promotion-tag">Giảm @item.DiscountPrice</div> *@
			<div class="promotion-tag">10%</div>
			<h3 class="product-title">@item.Name</h3>
			<div class="product-price">@item.Price.ToString("N0") đ</div>
			@* <div class="product-old-price">@item.OldPrice</div> *@
			<div class="product-old-price">9999999</div>
		</div>
	</a>
</div>

