 @using Application.Dtos.ProductAttributeDtos
@{
	var productAttributes = ViewData["ProductAttributes"] != null ? ViewData["ProductAttributes"] as List<FilterMenuDto> : new List<FilterMenuDto>();
	var queryParams = ViewData["QueryParams"] != null ? ViewData["QueryParams"] as List<FilterMenuDto>: new List<FilterMenuDto>();
	var currentUrl = Context.Request.Path;
	var categoryName = ViewData["CategoryName"] != null  ? ViewData["CategoryName"] as string : string.Empty;
}

<!-- Chọn theo tiêu chí -->

<div class="container mt-4">
	<h5>Chọn theo tiêu chí</h5>
	@if (productAttributes != null && productAttributes.Any())
	{
		<div class="mb-3">
			@foreach (var item in productAttributes)
			{	
				var isActive = queryParams?.Any(f => f.Name == item.Name) == true;
				<div class="dropdown d-inline-block me-2 mb-2">
					<button class="filter-btn @(isActive ? "active-filter" : "")"
							type="button"
							id="dropdown-@item.UrlName"
							data-bs-toggle="dropdown"
							aria-expanded="false">
						@item.Name <i class="bi bi-chevron-down"></i>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdown-@item.UrlName">
						@for (int i = 0; i < item.Values.Count; i++)
						{
							<li>
								<a class="dropdown-item" href="javascript:void(0);"
								   onclick="addFilter('@item.UrlName', '@item.UrlValues[i]')">@item.Values[i]</a>
							</li>
						}

					</ul>
				</div>
			}
		</div>
	}
</div>

<!-- Đang lọc theo -->
@if (queryParams != null && queryParams.Any())
{
	<div class="container mt-4">
		<h5>Đang lọc theo</h5>

		<div class="mb-3">
			@foreach (var filter in queryParams)
			{
				for (int i = 0; i < filter.Values.Count; i++)
				{
					<span class="badge bg-danger rounded-pill p-2 me-2 mb-2">
						<a href="javascript:void(0);"
						   onclick="removeFilter('@filter.UrlName', '@filter.UrlValues[i]')"
						   class="text-white text-decoration-none">
							<i class="bi bi-x-circle"></i> @filter.Name: @filter.Values[i]
						</a>
					</span>
				}

			}
			@if (queryParams.Any())
			{
				<span class="badge bg-danger rounded-pill p-2 me-2 mb-2">
					<a href="/productdetail/@categoryName" class="text-white text-decoration-none">
						<i class="bi bi-x-circle"></i> Xóa tất cả
					</a>
				</span>
			}
		</div>
	</div>
}


